<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form" method = "POST">
        <p>Medicine Name <input type = "text" name = "name" /></p>
        <strong>Dosage schedule</strong>
        <p>Monday <input type = "text" name = "Monday" /></p>
        <p>Tuesday <input type = "text" name = "Tuesday" /></p>
        <p>Wednesday <input type = "text" name = "Wednesday" /></p>
        <p>Thursday <input type = "text" name = "Thursday" /></p>
        <p>Friday <input type = "text" name = "Friday" /></p>
        <p>Saturday <input type = "text" name = "Saturday" /></p>
        <p>Sunday <input type = "text" name = "Sunday" /></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>
</body>
</html>